<!DOCTYPE html>
<html>
<head>
  <title>Autores y sus libros</title>
</head>
<body>
  <h1>Autores y sus libros</h1>
  <table>
    <tr>
      <th>Nombre del Autor</th>
      <th>Total Books</th>
      <th>Promedio Score</th>
      <!-- Agrega más columnas aquí si lo necesitas -->
    </tr>
    <% authorsBooks.forEach(authorBook => { %>
      <tr>
        <td><%= authorBook.author_name %></td>
        <td><%= authorBook.total_books%></td>
        <td><%= authorBook.average_score / authorBook.total_books %></td>
        <!-- Agrega más columnas aquí si lo necesitas -->
      </tr>
    <% }); %>
  </table>
</body>
</html>
