<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enlaces a URLs</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>

<body>
  <table>
    <tr>
      <th>url</th>
      <th>descripcion</th>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/table1">http://localhost:3000/table1</a></td>
      <td>tabla que muestra los autores, la cantidad de libros asociado a este<br>
        el promedio del score del autor y las ventas totales</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/books">http://localhost:3000/books</a></td>
      <td>tabla con books, con buscador</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/authors/">http://localhost:3000/authors/</a></td>
      <td>tabla con autores</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/reviews">http://localhost:3000/reviews</a></td>
      <td>tabla con reviews</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/salesbyyear">http://localhost:3000/salesbyyear</a></td>
      <td>ventas por año</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/topbook">http://localhost:3000/topbook</a></td>
      <td>top 50 libros mas vendidos</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/authors_books">http://localhost:3000/authors_books</a></td>
      <td>otra tabla similar a table1</td>  
    </tr>
    <tr>
      <td><a href="http://localhost:3000/topReview/">http://localhost:3000/topReview/</a></td>
      <td>tabla que muestra los mejores reviews</td>  
    </tr>
    <tr>
      <td><a href="http://localhost:3000/topReview/worst">http://localhost:3000/topReview/worst</a></td>
      <td>tabla que muestra los peores reviews</td>  
    </tr>
  </table>
</body>

</html>
